*{
    border-collapse: collapse;
    outline: none;
}
p{
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
body{
	min-width: 800px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: helvetica,arial,sans-serif;
	background-color: #fff;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-focus-ring-color: rgba(255, 255, 255, 0);
	outline: none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	resize: none;
	-webkit-text-size-adjust: none;
}
input,textarea{
	-moz-user-select: text;
	-o-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
	resize: none;
}
body>input[type="checkbox"],
body>input[type="radio"]{display: none;}
img{
	border: 0;
	vertical-align: top;
}
.insertRepo form{
	display: block;
	height: 100%;
}
.menu{
	font-size: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	list-style: none;
	text-align: left;
	white-space: nowrap;
	padding: 10px 0px;
	padding-left: 20%;
	background: #383c48 url("/images/share.svg") no-repeat 20px center;
	background-size: 25px;
	box-sizing: border-box;
}
.menu li{
	display: inline-block;
}
.menu li label{
	font-size: 1rem;
	display: inline-block;
	color: #636f7d;
	cursor: pointer;
	text-align: center;
	padding: 10px 20px;
	border-radius: 20px;
	margin: 0px 5px;
}
.menu li label:hover{color: #52be82;}
.insertRepo{
	display: block;
	width: 100%;
	background: #282c37;
	font-size: 0px;
	text-align: center;
}
.insertRepo input[type="text"]{
	background: #333742 none repeat scroll 0% 0%;
	border: 0px none;
	padding: 15px;
	margin: 20px;
	display: inline-block;
	color: #636F7D;
	font-size: 1rem;
	width: 55%;
}
.insertRepo input[type="text"]:focus{color: #52be82;}
.content{
	display: none;
	margin: 0px auto;
	width: 100%;
	min-width: 800px;
}
.content h2{
	color: #fc6f37;
	font-weight: normal;
	width:50%;
	min-width: 800px;
	margin: 20px auto;
}
.log{
	width: 50%;
	min-width: 800px;
	color: #3E4452;
	margin: 0px auto;
}
.log pre{}
.log pre span{}
.repoList{
	margin: 0px auto;
	padding: 0px;
	list-style: none;
	width:50%;
	min-width: 800px;
}
.repoList li{
	display: block;
	white-space: nowrap;
	font-size: 0px;
	position: relative;
	margin: 10px 0px;
}
.repoList li input[type="checkbox"]{display: none;}
.repoList li input[type="submit"]{
	background: transparent url(/images/pull.svg) no-repeat center center;
	background-size: 50% auto;
	display: none;
	border: 0px;
	width: 5%;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	height: 100%;
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0px;
}
.repoList li:hover input[type="submit"]{display: inline-block;}
.repoList label{
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #f2f2f2;
	width: 100%;
	padding: 15px;
	padding-left: 45px;
	font-size: 1rem;
	color: #636F7D;
	cursor: pointer;
	box-sizing: border-box;
	background: url(/images/uncheck.svg) no-repeat 10px center;
	background-size: 15px;
}
.repoList input[type="checkbox"]:checked+label{
	background: url(/images/check.svg) no-repeat 10px center;
	background-size: 15px;
}
.repoContent .deleteButton{
	display: block;
	margin: 10px auto;
	min-width: 800px;
	width: 50%;
	border: 0px none;
	background: #3E4452 none repeat scroll 0% 0%;
	color: #52BE82;
	padding: 15px;
	cursor: pointer;
	font-size: 1rem;
	box-sizing: border-box;
}

#repoContent:checked~.repoContent{display: block;}
#repoContent:checked~.menu label[for="repoContent"]{
	background: #3e4452;
	color: #52be82;
}
